.answer {
    text-align: center;
    border: 2px solid #d9bf00;
    margin-bottom: 10px;
    color: white;
    font-size: 2.8vw;
    font-weight: 500;
}

.answer p {
    margin-bottom: 0;
}

.answer:hover {
    background-color: gray;
}

.answer:active {
    background-color: orange;
}

.correct {
    background-color: lightgreen;
}

.answers {
    padding-left: 1em;
    padding-right: 1em;
}